@import url("https://fonts.googleapis.com/css?family=Great Vibes|Pacifico");
.mobile {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 90px;
  display: block;
}
.wrapper {
    margin: 50px auto;
    width: 90%;
    height: 60%;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: -1;
  }
  
  .ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
  }
  
  .ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  }
  
  .ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
  }
  
  .ribbon-green:before {
    left: 0;
  }
  .ribbon-green:after {
    right: 0;
  } 
h1,
h2,
span {
  display: none;
}

@media screen and (min-width: 670px) {
  .mobile {
    display: none;
  }

  h1,
h2,
span {
    display: block;
  }

  body {
    background: linear-gradient(to right, black,black,black, gold);
    cursor: crosshair;
    perspective: 1000px;
    transform-style: preserve-3d;
    font-family: "Great Vibes", cursive;
  }

  h1 {
    position: absolute;
    text-align: center;
    width: 90%;
    top: 10%;
    font-size: 7em;
    padding:5%;
    background: -webkit-linear-gradient(0deg, #ceadfc 0%, #a3bbfb 100%);
    -webkit-background-clip: text;
    
    font-weight: 600;
    z-index: -1;
    letter-spacing: 6px;
  }

  span {
    text-align: center;
    width: 100%;
    
    font-size: 8em;
  }

  h2 {
    position: absolute;
    text-align: center;
    width: 90%;
    text-align: center;
    width: 100%;
    top: 70%;
    font-size: 5em;
    font-family: "Pacifico";
    background: -webkit-linear-gradient(90deg, #e6c801 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  bokeh {
    position: fixed;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    animation-name: explosion;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
  }
  bokeh:nth-child(1) {
    background-color: #fc85e1;
    transform: translate(15.1168289283vw, 85.053456497vh);
    animation-duration: 2.7387210429s;
    animation-delay: -0.3577089051s;
  }
  bokeh:nth-child(2) {
    background-color: #fc85e1;
    transform: translate(7.1935527967vw, 25.117583034vh);
    animation-duration: 3.6310229949s;
    animation-delay: -3.0053504248s;
  }
  bokeh:nth-child(3) {
    background-color: #2bd8ff;
    transform: translate(10.777002139vw, 46.606896964vh);
    animation-duration: 3.1111098036s;
    animation-delay: -0.3526265816s;
  }
  bokeh:nth-child(4) {
    background-color: #2bd8ff;
    transform: translate(69.9656136392vw, 33.1398406384vh);
    animation-duration: 4.9606745626s;
    animation-delay: -1.0058525835s;
  }
  bokeh:nth-child(5) {
    background-color: #feff28;
    transform: translate(0.0219785474vw, 40.2184012499vh);
    animation-duration: 3.0089358774s;
    animation-delay: -0.9227425601s;
  }
  bokeh:nth-child(6) {
    background-color: #feff28;
    transform: translate(95.4630194833vw, 29.6765801566vh);
    animation-duration: 3.4957233968s;
    animation-delay: -4.929687847s;
  }
  bokeh:nth-child(7) {
    background-color: #feff28;
    transform: translate(3.8088787827vw, 32.5235254303vh);
    animation-duration: 3.1121586623s;
    animation-delay: -0.5641329691s;
  }
  bokeh:nth-child(8) {
    background-color: #feff28;
    transform: translate(56.7650034468vw, 24.3359182929vh);
    animation-duration: 4.1731347159s;
    animation-delay: -3.4637190179s;
  }
  bokeh:nth-child(9) {
    background-color: #feff28;
    transform: translate(72.9702728592vw, 99.6821239986vh);
    animation-duration: 2.0290409135s;
    animation-delay: -2.4354776784s;
  }
  bokeh:nth-child(10) {
    background-color: #fc85e1;
    transform: translate(85.1572826828vw, 83.6825824007vh);
    animation-duration: 4.383563201s;
    animation-delay: -2.2094788693s;
  }
  bokeh:nth-child(11) {
    background-color: #2bd8ff;
    transform: translate(58.2405918211vw, 20.6229213335vh);
    animation-duration: 2.6136724654s;
    animation-delay: -4.4402205286s;
  }
  bokeh:nth-child(12) {
    background-color: #feff28;
    transform: translate(50.5447527748vw, 2.9877052433vh);
    animation-duration: 3.385307291s;
    animation-delay: -4.1563461101s;
  }
  bokeh:nth-child(13) {
    background-color: #fc85e1;
    transform: translate(39.0500555101vw, 2.5545438963vh);
    animation-duration: 2.1095301232s;
    animation-delay: -2.7559569543s;
  }
  bokeh:nth-child(14) {
    background-color: #2bd8ff;
    transform: translate(30.156185527vw, 4.8851482451vh);
    animation-duration: 4.1433406947s;
    animation-delay: -3.3043486329s;
  }
  bokeh:nth-child(15) {
    background-color: #feff28;
    transform: translate(66.2286512132vw, 17.5990196663vh);
    animation-duration: 4.3462756751s;
    animation-delay: -1.4570311821s;
  }
  bokeh:nth-child(16) {
    background-color: #ef8d22;
    transform: translate(22.095420223vw, 64.816791618vh);
    animation-duration: 3.3140252568s;
    animation-delay: -0.6473797302s;
  }
  bokeh:nth-child(17) {
    background-color: #2bd8ff;
    transform: translate(83.7625729587vw, 7.0469196337vh);
    animation-duration: 3.8521416258s;
    animation-delay: -3.5236508968s;
  }
  bokeh:nth-child(18) {
    background-color: #2bd8ff;
    transform: translate(68.994381322vw, 67.0777447319vh);
    animation-duration: 3.650568302s;
    animation-delay: -2.9935459749s;
  }
  bokeh:nth-child(19) {
    background-color: #ef8d22;
    transform: translate(23.34577212vw, 81.0495731382vh);
    animation-duration: 3.0360506803s;
    animation-delay: -3.448779079s;
  }
  bokeh:nth-child(20) {
    background-color: #fc85e1;
    transform: translate(74.1376925503vw, 33.7217334423vh);
    animation-duration: 3.3861218511s;
    animation-delay: -0.0466478674s;
  }
  bokeh:nth-child(21) {
    background-color: #ef8d22;
    transform: translate(81.9896676583vw, 1.6547306848vh);
    animation-duration: 2.8136268492s;
    animation-delay: -2.1617181227s;
  }
  bokeh:nth-child(22) {
    background-color: #fc85e1;
    transform: translate(26.5777037797vw, 25.5901797143vh);
    animation-duration: 2.4933752486s;
    animation-delay: -1.610006825s;
  }
  bokeh:nth-child(23) {
    background-color: #fc85e1;
    transform: translate(13.5009247061vw, 55.2114539592vh);
    animation-duration: 4.529802848s;
    animation-delay: -2.2273374552s;
  }
  bokeh:nth-child(24) {
    background-color: #fc85e1;
    transform: translate(60.204571655vw, 48.2208041384vh);
    animation-duration: 4.6280255334s;
    animation-delay: -3.9777310579s;
  }
  bokeh:nth-child(25) {
    background-color: #feff28;
    transform: translate(8.9894499288vw, 86.6562795097vh);
    animation-duration: 4.8551822511s;
    animation-delay: -3.8702439711s;
  }
  bokeh:nth-child(26) {
    background-color: #fc85e1;
    transform: translate(52.416818687vw, 16.403024939vh);
    animation-duration: 4.4609355305s;
    animation-delay: -1.2116973243s;
  }
  bokeh:nth-child(27) {
    background-color: #feff28;
    transform: translate(47.8452861012vw, 89.5431627177vh);
    animation-duration: 4.5383852424s;
    animation-delay: -1.7969678367s;
  }
  bokeh:nth-child(28) {
    background-color: #ef8d22;
    transform: translate(15.7163021671vw, 43.708638921vh);
    animation-duration: 4.3411473633s;
    animation-delay: -1.2799184995s;
  }
  bokeh:nth-child(29) {
    background-color: #feff28;
    transform: translate(50.2998712589vw, 11.3971823485vh);
    animation-duration: 2.0792898915s;
    animation-delay: -1.4113672536s;
  }
  bokeh:nth-child(30) {
    background-color: #feff28;
    transform: translate(0.9907264432vw, 19.2965312593vh);
    animation-duration: 3.2220803588s;
    animation-delay: -1.3253397377s;
  }
  bokeh:nth-child(31) {
    background-color: #feff28;
    transform: translate(41.6504975714vw, 47.0364740355vh);
    animation-duration: 3.9460963153s;
    animation-delay: -4.4978470919s;
  }
  bokeh:nth-child(32) {
    background-color: #feff28;
    transform: translate(72.4032407421vw, 22.255718319vh);
    animation-duration: 2.7394430918s;
    animation-delay: -4.278429665s;
  }
  bokeh:nth-child(33) {
    background-color: #feff28;
    transform: translate(38.2827641204vw, 55.7648959594vh);
    animation-duration: 3.4426867699s;
    animation-delay: -2.6713070206s;
  }
  bokeh:nth-child(34) {
    background-color: #ef8d22;
    transform: translate(97.864483498vw, 4.0262550682vh);
    animation-duration: 3.9613221916s;
    animation-delay: -4.0639826586s;
  }
  bokeh:nth-child(35) {
    background-color: #fc85e1;
    transform: translate(8.180443899vw, 87.6774076226vh);
    animation-duration: 3.8244673375s;
    animation-delay: -2.0038933246s;
  }
  bokeh:nth-child(36) {
    background-color: #feff28;
    transform: translate(6.1185342506vw, 99.8162345987vh);
    animation-duration: 3.0744363081s;
    animation-delay: -1.4872370878s;
  }
  bokeh:nth-child(37) {
    background-color: #ef8d22;
    transform: translate(25.738234406vw, 27.8631592897vh);
    animation-duration: 3.8170248089s;
    animation-delay: -4.3084710855s;
  }
  bokeh:nth-child(38) {
    background-color: #feff28;
    transform: translate(78.9223040447vw, 68.7160137945vh);
    animation-duration: 2.2175527096s;
    animation-delay: -0.2330527981s;
  }
  bokeh:nth-child(39) {
    background-color: #feff28;
    transform: translate(82.1344201227vw, 10.3243555037vh);
    animation-duration: 2.0821974788s;
    animation-delay: -4.1814475029s;
  }
  bokeh:nth-child(40) {
    background-color: #ef8d22;
    transform: translate(60.6549794012vw, 60.7131126124vh);
    animation-duration: 3.4473316013s;
    animation-delay: -1.9501528219s;
  }
  bokeh:nth-child(41) {
    background-color: #ef8d22;
    transform: translate(63.3109899446vw, 5.1442567334vh);
    animation-duration: 4.7355446606s;
    animation-delay: -0.3720557487s;
  }
  bokeh:nth-child(42) {
    background-color: #fc85e1;
    transform: translate(47.9872820422vw, 35.3481995599vh);
    animation-duration: 4.4086147284s;
    animation-delay: -2.0567011803s;
  }
  bokeh:nth-child(43) {
    background-color: #feff28;
    transform: translate(55.8896555118vw, 42.8967182388vh);
    animation-duration: 3.098332315s;
    animation-delay: -2.326849269s;
  }
  bokeh:nth-child(44) {
    background-color: #fc85e1;
    transform: translate(48.5143510177vw, 9.0905379535vh);
    animation-duration: 3.0244243985s;
    animation-delay: -0.9540053852s;
  }
  bokeh:nth-child(45) {
    background-color: #ef8d22;
    transform: translate(60.6951002144vw, 70.396747266vh);
    animation-duration: 2.0984106611s;
    animation-delay: -1.3580769157s;
  }
  bokeh:nth-child(46) {
    background-color: #feff28;
    transform: translate(52.0221928658vw, 29.17810319vh);
    animation-duration: 2.8785463051s;
    animation-delay: -1.7282499937s;
  }
  bokeh:nth-child(47) {
    background-color: #feff28;
    transform: translate(25.0149683141vw, 4.2754656926vh);
    animation-duration: 4.3850129268s;
    animation-delay: -4.1792953493s;
  }
  bokeh:nth-child(48) {
    background-color: #fc85e1;
    transform: translate(77.1279512735vw, 88.1864051987vh);
    animation-duration: 2.6223665723s;
    animation-delay: -4.9434549589s;
  }
  bokeh:nth-child(49) {
    background-color: #ef8d22;
    transform: translate(17.6566245913vw, 1.8283135324vh);
    animation-duration: 3.7528957371s;
    animation-delay: -0.8987645787s;
  }
  bokeh:nth-child(50) {
    background-color: #feff28;
    transform: translate(70.2735040436vw, 11.8685222833vh);
    animation-duration: 3.4510943308s;
    animation-delay: -4.0361193826s;
  }
  bokeh:nth-child(51) {
    background-color: #2bd8ff;
    transform: translate(27.8968707892vw, 54.4458075464vh);
    animation-duration: 3.7675569135s;
    animation-delay: -0.7511491975s;
  }
  bokeh:nth-child(52) {
    background-color: #ef8d22;
    transform: translate(58.1814316397vw, 3.0121642776vh);
    animation-duration: 2.245091151s;
    animation-delay: -2.3540398009s;
  }
  bokeh:nth-child(53) {
    background-color: #2bd8ff;
    transform: translate(10.1182432586vw, 94.2736442059vh);
    animation-duration: 3.1339627026s;
    animation-delay: -4.5320853442s;
  }
  bokeh:nth-child(54) {
    background-color: #2bd8ff;
    transform: translate(90.2908292668vw, 34.6634993731vh);
    animation-duration: 2.954501605s;
    animation-delay: -2.3595502623s;
  }
  bokeh:nth-child(55) {
    background-color: #2bd8ff;
    transform: translate(84.0305868859vw, 51.1383267064vh);
    animation-duration: 2.4762936197s;
    animation-delay: -4.3596771114s;
  }
  bokeh:nth-child(56) {
    background-color: #feff28;
    transform: translate(80.1290865652vw, 80.0043615436vh);
    animation-duration: 2.365456028s;
    animation-delay: -1.0017847285s;
  }
  bokeh:nth-child(57) {
    background-color: #2bd8ff;
    transform: translate(96.8052513536vw, 9.6643028065vh);
    animation-duration: 3.2980781221s;
    animation-delay: -1.7247540835s;
  }
  bokeh:nth-child(58) {
    background-color: #fc85e1;
    transform: translate(80.1967592305vw, 36.0640335275vh);
    animation-duration: 4.6161835093s;
    animation-delay: -1.5772532385s;
  }
  bokeh:nth-child(59) {
    background-color: #ef8d22;
    transform: translate(8.2558916795vw, 3.1983524537vh);
    animation-duration: 4.0805439976s;
    animation-delay: -2.9756624295s;
  }
  bokeh:nth-child(60) {
    background-color: #fc85e1;
    transform: translate(36.4344681572vw, 78.1704715878vh);
    animation-duration: 2.4458921077s;
    animation-delay: -1.3955215583s;
  }
  bokeh:nth-child(61) {
    background-color: #feff28;
    transform: translate(93.9753732549vw, 75.2334866797vh);
    animation-duration: 4.0893133314s;
    animation-delay: -3.7205969092s;
  }
  bokeh:nth-child(62) {
    background-color: #ef8d22;
    transform: translate(66.6173728108vw, 5.4652054183vh);
    animation-duration: 3.2654235836s;
    animation-delay: -3.0108308702s;
  }
  bokeh:nth-child(63) {
    background-color: #feff28;
    transform: translate(7.1342673277vw, 97.4460564881vh);
    animation-duration: 4.3282837313s;
    animation-delay: -1.1226451551s;
  }
  bokeh:nth-child(64) {
    background-color: #feff28;
    transform: translate(43.0324865418vw, 91.1016578109vh);
    animation-duration: 4.2657629041s;
    animation-delay: -0.4767264054s;
  }
  bokeh:nth-child(65) {
    background-color: #fc85e1;
    transform: translate(15.0189210595vw, 71.7363754153vh);
    animation-duration: 4.3297128702s;
    animation-delay: -2.2493147903s;
  }
  bokeh:nth-child(66) {
    background-color: #fc85e1;
    transform: translate(1.57393574vw, 25.3089497712vh);
    animation-duration: 3.0209732333s;
    animation-delay: -3.9956026414s;
  }
  bokeh:nth-child(67) {
    background-color: #ef8d22;
    transform: translate(86.7097125223vw, 49.1686422413vh);
    animation-duration: 3.3011953149s;
    animation-delay: -4.1087286187s;
  }
  bokeh:nth-child(68) {
    background-color: #ef8d22;
    transform: translate(84.544534308vw, 1.5761703598vh);
    animation-duration: 3.0366750416s;
    animation-delay: -1.7528820172s;
  }
  bokeh:nth-child(69) {
    background-color: #2bd8ff;
    transform: translate(65.533517961vw, 80.3492764945vh);
    animation-duration: 3.4382881161s;
    animation-delay: -1.135039062s;
  }
  bokeh:nth-child(70) {
    background-color: #2bd8ff;
    transform: translate(15.2066633033vw, 85.7432758063vh);
    animation-duration: 4.5576766085s;
    animation-delay: -4.338334128s;
  }
  bokeh:nth-child(71) {
    background-color: #fc85e1;
    transform: translate(55.8673099535vw, 5.2545840393vh);
    animation-duration: 3.6502452101s;
    animation-delay: -4.0254523226s;
  }
  bokeh:nth-child(72) {
    background-color: #fc85e1;
    transform: translate(72.0480295579vw, 59.6458791649vh);
    animation-duration: 3.8089356645s;
    animation-delay: -4.3589233555s;
  }
  bokeh:nth-child(73) {
    background-color: #fc85e1;
    transform: translate(41.8482392823vw, 97.261901058vh);
    animation-duration: 2.533890394s;
    animation-delay: -3.1404229759s;
  }
  bokeh:nth-child(74) {
    background-color: #ef8d22;
    transform: translate(10.8324051749vw, 37.0005771478vh);
    animation-duration: 4.1401524371s;
    animation-delay: -1.5116695442s;
  }
  bokeh:nth-child(75) {
    background-color: #feff28;
    transform: translate(10.0030470754vw, 97.6130799925vh);
    animation-duration: 4.2639836538s;
    animation-delay: -1.6181280698s;
  }
  bokeh:nth-child(76) {
    background-color: #feff28;
    transform: translate(55.5950941275vw, 49.2479745985vh);
    animation-duration: 2.2008992006s;
    animation-delay: -2.9182016718s;
  }
  bokeh:nth-child(77) {
    background-color: #ef8d22;
    transform: translate(98.9359783678vw, 19.2766898383vh);
    animation-duration: 4.9487423483s;
    animation-delay: -2.3527513131s;
  }
  bokeh:nth-child(78) {
    background-color: #fc85e1;
    transform: translate(40.2088289643vw, 97.8798190525vh);
    animation-duration: 4.758524465s;
    animation-delay: -4.2219273976s;
  }
  bokeh:nth-child(79) {
    background-color: #fc85e1;
    transform: translate(52.6252463822vw, 10.6970223537vh);
    animation-duration: 2.3575736927s;
    animation-delay: -3.0264065393s;
  }
  bokeh:nth-child(80) {
    background-color: #ef8d22;
    transform: translate(65.1962590296vw, 47.9222406946vh);
    animation-duration: 3.6214877377s;
    animation-delay: -1.5672377516s;
  }
  bokeh:nth-child(81) {
    background-color: #2bd8ff;
    transform: translate(42.2520868627vw, 37.7906745079vh);
    animation-duration: 2.7132917125s;
    animation-delay: -0.1153065859s;
  }
  bokeh:nth-child(82) {
    background-color: #2bd8ff;
    transform: translate(52.4967019556vw, 82.4387981166vh);
    animation-duration: 4.301233135s;
    animation-delay: -4.5391428452s;
  }
  bokeh:nth-child(83) {
    background-color: #feff28;
    transform: translate(55.6152479024vw, 2.2527683715vh);
    animation-duration: 2.2883541257s;
    animation-delay: -2.2403582556s;
  }
  bokeh:nth-child(84) {
    background-color: #2bd8ff;
    transform: translate(2.6522529979vw, 49.3559216381vh);
    animation-duration: 3.875966613s;
    animation-delay: -2.8904183528s;
  }
  bokeh:nth-child(85) {
    background-color: #feff28;
    transform: translate(47.0392014307vw, 99.0236014557vh);
    animation-duration: 3.6902873821s;
    animation-delay: -3.2348124872s;
  }
  bokeh:nth-child(86) {
    background-color: #feff28;
    transform: translate(64.1566775568vw, 4.6705699689vh);
    animation-duration: 2.3768591507s;
    animation-delay: -0.8066600621s;
  }
  bokeh:nth-child(87) {
    background-color: #fc85e1;
    transform: translate(14.1638948879vw, 89.6317845237vh);
    animation-duration: 3.1352394697s;
    animation-delay: -0.6279990951s;
  }
  bokeh:nth-child(88) {
    background-color: #2bd8ff;
    transform: translate(21.8189611107vw, 84.817306319vh);
    animation-duration: 4.4995710492s;
    animation-delay: -0.1635462144s;
  }
  bokeh:nth-child(89) {
    background-color: #ef8d22;
    transform: translate(33.0026276378vw, 96.477885677vh);
    animation-duration: 2.0890638751s;
    animation-delay: -3.9741267127s;
  }
  bokeh:nth-child(90) {
    background-color: #ef8d22;
    transform: translate(23.7527613806vw, 14.7628794729vh);
    animation-duration: 3.2797071173s;
    animation-delay: -2.2390790152s;
  }
  bokeh:nth-child(91) {
    background-color: #feff28;
    transform: translate(85.78138206vw, 5.9206312175vh);
    animation-duration: 4.6616584284s;
    animation-delay: -1.5050354532s;
  }
  bokeh:nth-child(92) {
    background-color: #feff28;
    transform: translate(86.8891292666vw, 18.2633842104vh);
    animation-duration: 3.4838339885s;
    animation-delay: -1.9115776976s;
  }
  bokeh:nth-child(93) {
    background-color: #feff28;
    transform: translate(31.313942634vw, 95.0019469568vh);
    animation-duration: 2.1693520585s;
    animation-delay: -2.3654893142s;
  }
  bokeh:nth-child(94) {
    background-color: #ef8d22;
    transform: translate(27.1111328158vw, 40.687980086vh);
    animation-duration: 4.4952933699s;
    animation-delay: -2.7243454562s;
  }
  bokeh:nth-child(95) {
    background-color: #feff28;
    transform: translate(40.3170461743vw, 15.7590040977vh);
    animation-duration: 2.9472396817s;
    animation-delay: -4.3338308609s;
  }
  bokeh:nth-child(96) {
    background-color: #ef8d22;
    transform: translate(50.2352989051vw, 31.2085494125vh);
    animation-duration: 4.8487792859s;
    animation-delay: -4.0672543197s;
  }
  bokeh:nth-child(97) {
    background-color: #ef8d22;
    transform: translate(75.473601147vw, 4.1599385001vh);
    animation-duration: 2.1974545204s;
    animation-delay: -1.0460312291s;
  }
  bokeh:nth-child(98) {
    background-color: #ef8d22;
    transform: translate(40.0375263696vw, 86.8455015507vh);
    animation-duration: 4.4033642261s;
    animation-delay: -2.4250819893s;
  }
  bokeh:nth-child(99) {
    background-color: #fc85e1;
    transform: translate(71.3881305052vw, 20.6937708421vh);
    animation-duration: 2.1617062911s;
    animation-delay: -3.4225813067s;
  }
  bokeh:nth-child(100) {
    background-color: #2bd8ff;
    transform: translate(65.6180414628vw, 39.0619547303vh);
    animation-duration: 2.5374921251s;
    animation-delay: -4.5997361871s;
  }

  @keyframes explosion {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translate(50vw, 100vh);
    }
  }
  .cake {
    position: relative;
    top: 250px;
    margin: auto;
    width: 200px;
    height: 60px;
    background: #f9fdff;
    border-radius: 100%;
    transform: translateZ(100px);
    box-shadow: 0px 4px 0px #f4f9fd, 0px 8px 0px #dba9ff, 0px 12px 0px #fec3b3, 0px 16px 0px #f7f6fb, 0px 20px 0px #f7f6fb, 0px 24px 0px #f7f6fb, 0px 28px 0px #f7f6fb, 0px 32px 0px #fea0bb, 0px 36px 0px #fea0bb, 0px 40px 0px #9cef9d, 0px 44px 0px #9cef9d, 0px 48px 0px #f7f6fb, 0px 52px 0px #f7f6fb, 0px 56px 0px #f7f6fb, 0px 60px 0px #f7f6fb, 0px 64px 0px #f7f6fb, 0px 68px 0px #dfa5fc, 0px 72px 0px #dfa5fc, 0px 76px 0px #fafffe, 0px 80px 0px #fafffe;
  }

  .plate {
    position: absolute;
    height: 90px;
    width: 300px;
    bottom: -95px;
    left: 50%;
    top: 380px;
    margin-left: -150px;
    border-radius: 100%;
    background: radial-gradient(ellipse closest-side at center, #08c7fe 0%, #04d7f2 71%, #02ffd0 100%);
    box-shadow: 0px 3px 0px #00e2e1, 0px 6px 0px #00d3fb;
    transform: translateZ(80px);
  }

  .candle {
    position: relative;
    height: 50px;
    width: 12px;
    top: 280px;
    margin: auto;
    background: linear-gradient(0deg, #b7f4a7 0%, white 100%);
    border-radius: 4px;
    transform: translateZ(120px);
  }

  #flame {
    position: absolute;
    z-index: 10;
  }

  .lit {
    background: linear-gradient(to bottom, #fff6d9, #fbc36c);
    width: 15px;
    height: 35px;
    /*  Info on border radius. http://www.css3.info/preview/rounded-border/ */
    border-top-left-radius: 10px 35px;
    border-top-right-radius: 10px 35px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    top: -34px;
    margin: auto;
    /*   http://www.css3.info/preview/box-shadow/ */
    box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    transform-origin: bottom;
    animation: flicker 1s ease-in-out alternate infinite;
  }

  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
  }
  .pyro > .before,
.pyro > .after {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }

  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }

  @-webkit-keyframes bang {
    to {
      box-shadow: 4px -295.6666666667px #00ff2b, -94px 80.3333333333px #ff7700, -57px -278.6666666667px #ff5e00, 230px -342.6666666667px #6200ff, -135px -248.6666666667px #ff00cc, 174px -390.6666666667px #ff00ee, -196px 60.3333333333px #0073ff, -183px -111.6666666667px #0091ff, 121px -229.6666666667px #000dff, 100px -183.6666666667px #ccff00, 12px -73.6666666667px #00ff6f, 38px -28.6666666667px #ae00ff, 19px -385.6666666667px #00ff40, 202px -242.6666666667px #d9ff00, 113px -272.6666666667px #ff0051, -219px -100.6666666667px #006aff, -96px -407.6666666667px #0026ff, -236px -277.6666666667px #ff000d, 141px 50.3333333333px #a6ff00, 78px -410.6666666667px #6a00ff, 125px -35.6666666667px #aeff00, 108px -269.6666666667px #48ff00, -14px -242.6666666667px #a6ff00, 132px 49.3333333333px #33ff00, 98px -330.6666666667px #ff0009, -73px -280.6666666667px #48ff00, 57px -262.6666666667px #ff8400, -144px -308.6666666667px #00ffd9, 241px -70.6666666667px #b7ff00, 80px -362.6666666667px #33ff00, -90px -19.6666666667px #00fffb, 99px 22.3333333333px #002bff, 52px -112.6666666667px #0073ff, -128px -161.6666666667px #37ff00, 240px -321.6666666667px #00e1ff, -141px -114.6666666667px #2fff00, 142px -259.6666666667px #00f2ff, 127px 33.3333333333px #9d00ff, -14px -88.6666666667px #00ff73, -190px 53.3333333333px #d5ff00, -83px -176.6666666667px #0062ff, 7px -45.6666666667px #ff00bf, 75px -25.6666666667px #00e1ff, -187px -199.6666666667px #9500ff, 184px -346.6666666667px #ff00ae, 221px -201.6666666667px #ff1a00, -175px -70.6666666667px #33ff00, 169px -248.6666666667px #6f00ff, 109px -90.6666666667px #ff00bf, -181px -268.6666666667px #8cff00, 222px -48.6666666667px #ff1a00;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 4px -295.6666666667px #00ff2b, -94px 80.3333333333px #ff7700, -57px -278.6666666667px #ff5e00, 230px -342.6666666667px #6200ff, -135px -248.6666666667px #ff00cc, 174px -390.6666666667px #ff00ee, -196px 60.3333333333px #0073ff, -183px -111.6666666667px #0091ff, 121px -229.6666666667px #000dff, 100px -183.6666666667px #ccff00, 12px -73.6666666667px #00ff6f, 38px -28.6666666667px #ae00ff, 19px -385.6666666667px #00ff40, 202px -242.6666666667px #d9ff00, 113px -272.6666666667px #ff0051, -219px -100.6666666667px #006aff, -96px -407.6666666667px #0026ff, -236px -277.6666666667px #ff000d, 141px 50.3333333333px #a6ff00, 78px -410.6666666667px #6a00ff, 125px -35.6666666667px #aeff00, 108px -269.6666666667px #48ff00, -14px -242.6666666667px #a6ff00, 132px 49.3333333333px #33ff00, 98px -330.6666666667px #ff0009, -73px -280.6666666667px #48ff00, 57px -262.6666666667px #ff8400, -144px -308.6666666667px #00ffd9, 241px -70.6666666667px #b7ff00, 80px -362.6666666667px #33ff00, -90px -19.6666666667px #00fffb, 99px 22.3333333333px #002bff, 52px -112.6666666667px #0073ff, -128px -161.6666666667px #37ff00, 240px -321.6666666667px #00e1ff, -141px -114.6666666667px #2fff00, 142px -259.6666666667px #00f2ff, 127px 33.3333333333px #9d00ff, -14px -88.6666666667px #00ff73, -190px 53.3333333333px #d5ff00, -83px -176.6666666667px #0062ff, 7px -45.6666666667px #ff00bf, 75px -25.6666666667px #00e1ff, -187px -199.6666666667px #9500ff, 184px -346.6666666667px #ff00ae, 221px -201.6666666667px #ff1a00, -175px -70.6666666667px #33ff00, 169px -248.6666666667px #6f00ff, 109px -90.6666666667px #ff00bf, -181px -268.6666666667px #8cff00, 222px -48.6666666667px #ff1a00;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 4px -295.6666666667px #00ff2b, -94px 80.3333333333px #ff7700, -57px -278.6666666667px #ff5e00, 230px -342.6666666667px #6200ff, -135px -248.6666666667px #ff00cc, 174px -390.6666666667px #ff00ee, -196px 60.3333333333px #0073ff, -183px -111.6666666667px #0091ff, 121px -229.6666666667px #000dff, 100px -183.6666666667px #ccff00, 12px -73.6666666667px #00ff6f, 38px -28.6666666667px #ae00ff, 19px -385.6666666667px #00ff40, 202px -242.6666666667px #d9ff00, 113px -272.6666666667px #ff0051, -219px -100.6666666667px #006aff, -96px -407.6666666667px #0026ff, -236px -277.6666666667px #ff000d, 141px 50.3333333333px #a6ff00, 78px -410.6666666667px #6a00ff, 125px -35.6666666667px #aeff00, 108px -269.6666666667px #48ff00, -14px -242.6666666667px #a6ff00, 132px 49.3333333333px #33ff00, 98px -330.6666666667px #ff0009, -73px -280.6666666667px #48ff00, 57px -262.6666666667px #ff8400, -144px -308.6666666667px #00ffd9, 241px -70.6666666667px #b7ff00, 80px -362.6666666667px #33ff00, -90px -19.6666666667px #00fffb, 99px 22.3333333333px #002bff, 52px -112.6666666667px #0073ff, -128px -161.6666666667px #37ff00, 240px -321.6666666667px #00e1ff, -141px -114.6666666667px #2fff00, 142px -259.6666666667px #00f2ff, 127px 33.3333333333px #9d00ff, -14px -88.6666666667px #00ff73, -190px 53.3333333333px #d5ff00, -83px -176.6666666667px #0062ff, 7px -45.6666666667px #ff00bf, 75px -25.6666666667px #00e1ff, -187px -199.6666666667px #9500ff, 184px -346.6666666667px #ff00ae, 221px -201.6666666667px #ff1a00, -175px -70.6666666667px #33ff00, 169px -248.6666666667px #6f00ff, 109px -90.6666666667px #ff00bf, -181px -268.6666666667px #8cff00, 222px -48.6666666667px #ff1a00;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 4px -295.6666666667px #00ff2b, -94px 80.3333333333px #ff7700, -57px -278.6666666667px #ff5e00, 230px -342.6666666667px #6200ff, -135px -248.6666666667px #ff00cc, 174px -390.6666666667px #ff00ee, -196px 60.3333333333px #0073ff, -183px -111.6666666667px #0091ff, 121px -229.6666666667px #000dff, 100px -183.6666666667px #ccff00, 12px -73.6666666667px #00ff6f, 38px -28.6666666667px #ae00ff, 19px -385.6666666667px #00ff40, 202px -242.6666666667px #d9ff00, 113px -272.6666666667px #ff0051, -219px -100.6666666667px #006aff, -96px -407.6666666667px #0026ff, -236px -277.6666666667px #ff000d, 141px 50.3333333333px #a6ff00, 78px -410.6666666667px #6a00ff, 125px -35.6666666667px #aeff00, 108px -269.6666666667px #48ff00, -14px -242.6666666667px #a6ff00, 132px 49.3333333333px #33ff00, 98px -330.6666666667px #ff0009, -73px -280.6666666667px #48ff00, 57px -262.6666666667px #ff8400, -144px -308.6666666667px #00ffd9, 241px -70.6666666667px #b7ff00, 80px -362.6666666667px #33ff00, -90px -19.6666666667px #00fffb, 99px 22.3333333333px #002bff, 52px -112.6666666667px #0073ff, -128px -161.6666666667px #37ff00, 240px -321.6666666667px #00e1ff, -141px -114.6666666667px #2fff00, 142px -259.6666666667px #00f2ff, 127px 33.3333333333px #9d00ff, -14px -88.6666666667px #00ff73, -190px 53.3333333333px #d5ff00, -83px -176.6666666667px #0062ff, 7px -45.6666666667px #ff00bf, 75px -25.6666666667px #00e1ff, -187px -199.6666666667px #9500ff, 184px -346.6666666667px #ff00ae, 221px -201.6666666667px #ff1a00, -175px -70.6666666667px #33ff00, 169px -248.6666666667px #6f00ff, 109px -90.6666666667px #ff00bf, -181px -268.6666666667px #8cff00, 222px -48.6666666667px #ff1a00;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 4px -295.6666666667px #00ff2b, -94px 80.3333333333px #ff7700, -57px -278.6666666667px #ff5e00, 230px -342.6666666667px #6200ff, -135px -248.6666666667px #ff00cc, 174px -390.6666666667px #ff00ee, -196px 60.3333333333px #0073ff, -183px -111.6666666667px #0091ff, 121px -229.6666666667px #000dff, 100px -183.6666666667px #ccff00, 12px -73.6666666667px #00ff6f, 38px -28.6666666667px #ae00ff, 19px -385.6666666667px #00ff40, 202px -242.6666666667px #d9ff00, 113px -272.6666666667px #ff0051, -219px -100.6666666667px #006aff, -96px -407.6666666667px #0026ff, -236px -277.6666666667px #ff000d, 141px 50.3333333333px #a6ff00, 78px -410.6666666667px #6a00ff, 125px -35.6666666667px #aeff00, 108px -269.6666666667px #48ff00, -14px -242.6666666667px #a6ff00, 132px 49.3333333333px #33ff00, 98px -330.6666666667px #ff0009, -73px -280.6666666667px #48ff00, 57px -262.6666666667px #ff8400, -144px -308.6666666667px #00ffd9, 241px -70.6666666667px #b7ff00, 80px -362.6666666667px #33ff00, -90px -19.6666666667px #00fffb, 99px 22.3333333333px #002bff, 52px -112.6666666667px #0073ff, -128px -161.6666666667px #37ff00, 240px -321.6666666667px #00e1ff, -141px -114.6666666667px #2fff00, 142px -259.6666666667px #00f2ff, 127px 33.3333333333px #9d00ff, -14px -88.6666666667px #00ff73, -190px 53.3333333333px #d5ff00, -83px -176.6666666667px #0062ff, 7px -45.6666666667px #ff00bf, 75px -25.6666666667px #00e1ff, -187px -199.6666666667px #9500ff, 184px -346.6666666667px #ff00ae, 221px -201.6666666667px #ff1a00, -175px -70.6666666667px #33ff00, 169px -248.6666666667px #6f00ff, 109px -90.6666666667px #ff00bf, -181px -268.6666666667px #8cff00, 222px -48.6666666667px #ff1a00;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
}